@import "tailwindcss";

@theme {
  --color-primary: #F97316;
  --color-secondary: #3B82F6;
  --color-success: #22C55E;
  --color-danger: #EF4444;
  --color-warning: #EAB308;
  --color-slate: #64748B;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #020617;
  
  --card: #ffffff;
  --card-foreground: #020617;
 
  --popover: #ffffff;
  --popover-foreground: #020617;
 
  --border: #e2e8f0;
  --input: #e2e8f0;
  --ring: #f97316;
}

.dark {
  --background: #020617;
  --foreground: #f8fafc;
 
  --card: #020617;
  --card-foreground: #f8fafc;
 
  --popover: #020617;
  --popover-foreground: #f8fafc;
 
  --border: #1e293b;
  --input: #1e293b;
  --ring: #f97316;
}

@layer base {
  * {
    border-color: var(--border);
  }
  body {
    background-color: var(--background);
    color: var(--foreground);
    @apply antialiased;
  }
}
